@keyframes scale-up-center{0%{transform: scale(1)}100%{transform:scale(1.03)}}
@keyframes slide-rotate-ver-r-bck{0%{transform:translateX(0) translateZ(0) rotateY(0);transform-origin:center right}100%{transform:translateX(150px) translateZ(-230px) rotateY(-90deg) rotateX(90deg) scale(.7);transform-origin:center right}}
@keyframes slide-rotate-ver-r-fwd{0%{transform:translateX(0) translateZ(0) rotateY(0);transform-origin:center left}100%{transform:translateX(150px) translateZ(130px) rotateY(-90deg);transform-origin:center left}}
@keyframes slide-rotate-hor-top{0%{transform:translateY(0) rotateX(0deg)}100%{transform:translateY(-150px) rotateX(-90deg)}}
@keyframes shadow-drop-2-center{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(136,218,255,.35)}}
@keyframes slide-in-right {0%{transform: translateX(1000px);opacity:0}100%{transform: translateX(0);opacity:1}}
@keyframes slide-out-left{0%{transform:translateX(0);opacity:1}100%{transform:translateX(-1000px);opacity:0}}
@keyframes slide-in-bottom {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translateY(-40vh);
  }
  100% {
    opacity: 1;
    width: 40vw;
    height: 70vh;
    border-radius: 15px;
    transform: translateY(-20vh);
  }
}

@keyframes slide-out-bottom {
  0%{
    opacity: 1;
    width: 40vw;
    height: 70vh;
    border-radius: 15px;
    transform: translateY(-40vh);
  }
  40%{
    width: 20px;
    height: 20px;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
    z-index: -2;
  }
}

@keyframes scale-h5-w5 {
  from { height: 0px; width: 0px; }
  to { height: 500px; width: 520px;}
}
@keyframes scale-h0-w0 {
  from { height: 500px; width: 520px;  }
  to { height: 30px; width: 70px; }
}

/* text */

@keyframes focus-in-contract{0%{letter-spacing:1em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

@keyframes text-pop-up-top{0%{transform:translateY(0);transform-origin:50% 50%;text-shadow:none}100%{transform:translateY(-50px);transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}
